{% extends "songs_in_common/base.html" %}

{% block style_links %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'songs_in_common/css/common.css' %}" />
{% endblock %}


{% block content %}

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-sm-12">
				<h1>Songs in Common</h1>
			</div>
		</div>
		<div class="row username-row">
			<div class="col-sm-4 user">
				<img src="{% if user1.profile_image %}{{ user1.profile_image.url }}{% else %}{% static 'songs_in_common/images/default_profile_image.png' %}{% endif %}" class="profile-image">
				<h5 class="username"><a href="{{ user1.url }}">{{ user1.display_name }}</h5></a>
			</div>
			<div class="col-sm-4 user">
				<img src="{% if user2.profile_image %}{{ user2.profile_image.url }}{% else %}{% static 'songs_in_common/images/default_profile_image.png' %}{% endif %}" class="profile-image">
				<h5 class="username"><a href="{{ user2.url }}">{{ user2.display_name }}</h5></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p><a href="/users?user={{ user1.username }}">Click here</a> to compare with another user.</p>
			</div>
		</div>
	</div>
	{% if playlists %}
	<div class="row">
		<div class="col-sm-12">
			<h5 class="list-title">{{ num_playlists }} Followed Playlists</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table playlists-list">
				<thead>
					<tr>
						<th scope="col">Playlist</th>
						<th scope="col">Creator</th>
						<th scope="col"># Tracks</th>
					</tr>
				</thead>
				<tbody>
					{% for playlist in playlists %}
					<tr>
						<th><a class="track-title" href="{{ playlist.url }}">{{ playlist.name }}</a></th>
						<td>{{ playlist.owner_display_name }}</td>
						<td>{{ playlist.num_tracks }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	{% if tracks %}
	<div class="row">
		<div class="col-sm-12">
			<h5 class="list-title">{{ num_tracks }} Tracks</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p class="list-subtitle">Includes Saved Tracks and Tracks from Public Playlists</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table songs-list">
				<thead>
					<tr>
						<th scope="col">Track</th>
						<th scope="col">Artist</th>
						<th scope="col">Album</th>
					</tr>
				</thead>
				<tbody>
					{% for track in tracks %}
					<tr>
						<th><a class="track-title" href="{{ track.url }}">{{ track.title|truncatechars:50 }}</a></th>
						<td>{{ track.artists|truncatechars:30 }}</td>
						<td>{{ track.album|truncatechars:50 }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}