{% extends "songs_in_common/base.html" %}

{% block style_links %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'songs_in_common/css/common.css' %}" />
{% endblock %}


{% block content %}

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-sm-12">
				<h1>Songs in Common</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h5>Showing common Saved Tracks for <a href="{{ user1.url }}">{{ user1.username }}</a> and <a href="{{ user2.url }}">{{ user2.username }}</a></h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="table songs-list">
				<thead>
					<tr>
						<th scope="col">Track</th>
						<th scope="col">Artist</th>
						<th scope="col">Album</th>
					</tr>
				</thead>
				<tbody>
					{% for track in tracks %}
					<tr>
						<th>{{ track.title }}</th>
						<td>{{ track.artists|truncatechars:30 }}</td>
						<td>{{ track.album }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}