{% extends "songs_in_common/base.html" %}

{% block style_links %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'songs_in_common/css/landing.css' %}" />
{% endblock %}


{% block content %}

<div class="container landing-page">
	<div class="header">
		<div class="row">
			<div class="col-sm-12">
				<h1>Songs in Common</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="tagline">Find Liked Spotify Tracks in common with friends</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a class="btn btn-primary start-button" href="/authorize?action=save_user{{ compare_with_param }}" role="button">Let's Go!</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 explain">
			<h2>How does it work?</h2>
			<p>You and a friend each sign in to Songs In Common using your Spotify accounts. We use the Spotify API to compare your Liked Songs and Liked Playlists.</p>
		</div>
	</div>
</div>

{% endblock %}
