{% extends "songs_in_common/base.html" %}

{% block style_links %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'songs_in_common/css/users.css' %}" />
{% endblock %}


{% block content %}

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-sm-12">
				<h1>Compare with Friends</h1>
			</div>
		</div>
		{% if search_string %}
		{% else %}
		<div class="row search-header">
			<div class="col-sm-12">
				<form action="/users" method="get">
					<h5>Search for a user:</h5>
					<input type="hidden" name="user" value="{{ username }}">
					<input class="search-box" type="text" name="search">
					<input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
		</div>
		{% endif %}
		<div class="row list-header">
			<div class="col-sm-12">
				<h5>Select a username below to compare music</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>Invite a friend to compare with you by giving them this link: <a href="{{ invite_link }}">{{ invite_link }}</a></p>
			</div>
		</div>
	</div>
	{% if search_string %}
	<div class="row search-header">
		<div class="col-sm-12">
			<h5>Search results for "{{ search_string }}"</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>Only users who have used Songs In Common before will appear in serach results.</p>
			<a href="/users?user={{ username }}"><p>Make a different serach</p></a>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-12">
			<table class="table user-list">
				<tbody>
					{% for user in users %}
					<tr>
						<td><a href="/common?user1={{ username }}&user2={{ user.username }}"><img src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'songs_in_common/images/default_profile_image.png' %}{% endif %}" class="profile-image">{{ user.display_name }}</td></a>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}