.songs-list, .playlists-list {
	margin-top: 10px !important;
}

.list-title {
	margin-top: 25px !important;
}

.list-subtitle {
	margin-bottom: 0px !important;
}

.track-title {
	color: white !important;
	text-decoration: none;
}
